fastapi
uvicorn
transformers
torch
sqlalchemy
pymysql
cryptography
python-dotenv
langchain
langchain-community
langchain-huggingface
sentence-transformers
pinecone
joblib
pandas
numpy
lightgbm
pypdf
passlib[bcrypt]
python-jose[cryptography]
psycopg2-binary
